.git
.github
.agents
.gemini
.vscode
.idea
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
node_modules
npm-debug.log
yarn-error.log
vendor
tests
.env
.env.*
!.env.example
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail/*
storage/app/backups/*
public/storage
public/hot
.dockerignore
